/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 de mai. de 2025, 21:36:02
    Author     : Paulo
*/

/*Criando Váriaveis de cores*/
:root{
    --cor-body: #f2f2f2;
    --cor-titulo: #333;
    --cor-container: #FFFFFF;
    --cor-input-submit: #28a745;
    --cor-input-hover: #218838;
    --cor-texto-links: #007bff;
    --cor-texto-links-hover: #0056b3;
    --cor-header-texto: white;
}

/*Editando o Corpo do HTML*/
body{
    font-family: Arial,sans-serif;
    background-color: var(--cor-body);
    margin:0;
    padding: 20px;
}

/*Editando o Cabecalho do HTML*/
.cabecalho{
    background-color: var(--cor-body);
    color: var(--cor-header-texto);
    padding: 20px 0;
    text-align: center;
}

/*Editando o Titulo que está no Meio do HTML*/
h1{
    color: var(--cor-titulo);
    text-align: center;
}

/*Editando o Container responsável por conter o conteudo principal do HTML*/
.contaniner{
    background-color: var(--cor-container);
    padding: 30px;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/*Editando o Formulario do HTML*/
label{
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"],input[type="number"]{
    padding: 5px;
    margin-right: 20px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"]{
    padding: 7px 15px;
    background-color: var(--cor-input-submit);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: var(--cor-input-hover);
}

/*Editando os botões de Navegação do HTML*/
.nav-buttons{
    margin-bottom: 20px;
}

.nav-buttons a{
    text-decoration: none;
    background-color: var(--cor-texto-links);
    color:white;
    padding: 8px 15px;
    border-radius: 4px;
    margin-right: 10px;
}

.nav-buttons a:hover{
    background-color: var(--cor-texto-links-hover)
}
